
html{

    background: url(/css/weather/sky.jpg);
 
      height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
   display: flex;
  justify-content: center;
  align-items: center;
}
header{
    text-align: justify;
}
#d1{
   
    float: center;
    font-size: larger;
    font-weight: bolder;
}
#d2:active{  

    background-color:white;

}
#mypara{
  
    font-size: 40px;
    font-weight: bolder;

}
#myimg{
    image-rendering: crisp-edges;
    border-style: ridge;
    border-radius: 50px;
    border-color: rgb(79, 42, 165);
    width: 80px;
    height: 80px;
}
#pp{
    font-size: larger;
    
}
